html {
  /* Setting a base font size of 10px give us easier rem calculations
     Info: 1rem === 10px, 1.5rem === 15px, 2rem === 20px and so forth
   */
  background: rgb(203,174,238);
  background: radial-gradient(circle, rgba(203,174,238,1) 0%, rgba(49,2,85,1) 100%); 
  font-size: 10px;
}

body {
  /* Native font stack https://getbootstrap.com/docs/4.2/content/reboot/#native-font-stack */
  color: #5d5c61;
  display: grid;
  font-family: Arial, sans-serif;
  font-size: 1.7rem;
  line-height: 1.5;
  text-align: center;
}

/* The main content background. */
main {
  margin-left: auto;
  margin-right: auto;
  padding: 0px, 5rem, 5rem, 5rem;
  width: 800px;
}

div {
  align-items: center;
  background: #eae7dc;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  margin: 1em;
  padding: 1em;
}

#image {
  /* Original image is 1252px X 952px. */
  border-radius: 30px;
  display: block;
  height: auto;
  max-width: 100%;
  width: 636px;
}

/* Container for the main image */
#img-div {
  align-items: center;
  background: #eae7dc;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
}

a {
  color: #42035f;
}

a:visited {
  color: #42035f;
}

a:hover {
  color: #9c03e2;
}

ul {
  text-align: left;
}